* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

html {
    background-color: rgba(0, 0, 0, 0.05);
}

header {
    padding: 20px;
    background-color: rgb(100, 73, 255);

}

div.cabecalho {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

div.esquerda a {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 30px;
}

div.direita {
    display: flex;
}
div.direita a {
    color: white;
    text-decoration: none;
    background-color: rgb(100, 73, 255);
    padding: 9px;
    border-radius: 5px;
    margin: 0 5px;
}

div.direita a:hover {
    color: rgb(100, 73, 255);
    background-color: white;
}

div.direita input {
    background-color: rgb(255, 255, 255);
    color: rgb(100, 73, 255);
    padding: 9px;
    border-radius: 5px;
    margin: 0 5px;
}

div.direita input[type="submit"] {
    position: relative;
    left: -10%
}
/*
div.direita .CzSCNb {
    display: inline-block;
    position: relative;
    fill: currentcolor;
    line-height: 24px;
    height: 24px;
    width: 24px;
}  
*/
section {
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.caixaNoticia {
    padding: 20px;
    width: 250px;
    height: 250px;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 73, 255);
    border-radius: 20px;
    margin: 20px auto 25px;
    display: flex;
    flex-direction: column;
}

div.caixaNoticia h1 {
    position: relative;
    top: -10%;
}

div.caixaNoticia a {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 73, 255);
    padding: 5%;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 82%;
}

div.caixaNoticia a:hover {
    background-color: rgb(219, 213, 255);
}

.cadNoticia,
.cadCategoria {
    width: 1000px;
    height: 680px;

    border-radius: 20px;
    color: white;
    background-color: rgb(100, 73, 255);
    padding: 40px;
}   

.cadCategoria {
    height: 250px;
}

.cadNoticia div h2,
.cadCategoria div h2 {
    margin-left: 10%;
}

.cadNoticia div,
.cadCategoria div {
    margin-bottom: 25px;
}

.cadNoticia div input,
.cadCategoria div input {
    width: 900px;
    height: 60px;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    font-size: 16pt;
    color: rgb(100, 73, 255);
}

.cadNoticia div input[type="submit"]:hover,
.cadCategoria div input[type="submit"]:hover {
    background-color: rgb(221, 221, 221);
}

.cadNoticia select {
    padding: 10px;
    width: 900px;
    height: 60px;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    font-size: 16pt;
}

.cadNoticia textarea {
    width: 900px;
    height: 350px;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    font-size: 16pt;
}

.verificacao {
    margin-left: 70%;
}

.visualizar {
    max-width: 950px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
}

.visualizar h1,
.visualizar h2,
.visualizar p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.visualizar h1 {
    font-size: 25pt;
}
.visualizar h2 {
    font-size: 18pt;
}
.visualizar p {
    font-size: 15pt;
}

.visualizar a {
    background-color: rgb(100, 73, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    left: 94%;
    top: -10px;
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .direita a,
    .direita form {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    
        transition-duration: .3s;
    }
  
    .hamburger {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }
  
    /* fullScreen */
    .direita.on {
        position: absolute;
        top: 0;
        left: 0;
    
        padding-top: 120px;

        width: 100vw;
        height: 100vh;
    
        background-color: rgb(100, 73, 255);
    
        z-index: 10;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .direita.on a,
    .direita.on form {
        display: block;
    }
  
    .direita.on .hamburger {
        position: absolute;
        right: 20px;
        top: 15px;
    }
  
    .direita.on .hamburger .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
  
    .direita.on .hamburger .two {
        opacity: 0;
    } 
  
    .direita.on .hamburger .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }
    
    .direita.on {
        text-align: center;
        display: block;
    }
  
    .direita.on a,
    .direita.on form {
        margin-top: 50px;
        transition-duration: .5s;
        font-size: 30px;
        line-height: 40px;
        display: block;
    }
    .direita.on input {
        margin-left: 5%;
        width: 60%;
    }
    .direita.on input[type="submit"] {
        margin-left: 0;
        left: -5%;
        width: 15%;
    }   

}
@media (max-width: 600px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
    .direita.on input[type="submit"] {
        margin-left: 0;
        left: -7%;
        width: 18%;
    }   
}